<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="" />
    <meta name="description" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/css_images/favicon.png" />

    <title>数字图像处理小作业</title>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="../static/css_images/logo.svg" id="logo" class="img-fluid" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero -->
    <section id="hero">
        <div style="padding-bottom:30px;">
            <a href="/"> << Back </a>
        </div>

        <div class="container">
            <div class="heading-wrapper">

        <div class="jumbotron">
            <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width:40%">
        </div>

        <div style="text-align:left;">
            <h5>Histogram Equalization</h5>
                <form id="form-HE" action="{{ url_for('H_E') }}" method="POST" enctype="multipart/form-data">        
                <button id="Grayscale" class="primary-btn" type="submit" name="mode" value="Grayscale">Grayscale</button>
                <button id="Color" class="primary-btn" type="submit" name="mode" value="Color">Color</button>
                <input type="text" class="hidden" name="image" value="{{ image_name }}">  
            </form>
        </div>

        <div style="text-align:left;">
            <h5>Morphological Transformation</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                <button id="Erosion" class="primary-btn" type="submit" name="mode" value="Erosion">Erosion</button>
                <button id="Dilation" class="primary-btn" type="submit" name="mode" value="Dilation">Dilation</button>
                <button id="Opening" class="primary-btn" type="submit" name="mode" value="Opening">Opening</button>
                <button id="Closing" class="primary-btn" type="submit" name="mode" value="Closing">Closing</button>
                <input type="text" class="hidden" name="image" value="{{ image_name }}">  
            </form>
        </div>
        </div>
    </section>
    <!-- End Hero -->

    <section id="pricing">
        <div class="container">
            <div class="heading-wrapper">
                <h2>Document</h2>
                <br>
                <h5>Histogram Equalization</h5>
                <p>Histogram equalization modifies the dynamic range of an image by altering the pixel values, guided by the intensity histogram of that image. Recall that the intensity histogram of an image depicts the number of pixels for each brightness value in the image. Histogram equalization operation enhances the contrast of image.</p>  
                
                <h5>Discrete Cosine Transform</h5>
                <p>The discrete cosine transform (DCT) is not a multiscale transform, but its relevance to the topic of image separation discussed later justifies its brief description. The DCT is a variant of the discrete Fourier transform (DFT), known to be well suited for stationary signals obeying by first-order Markov models with high correlation.</p> 
                
                <h5>Morphological Transformation</h5>
                <p>Morphological transformations are some simple operations based on the image shape. It is normally performed on binary images. It needs two inputs, one is our original image, second one is called structuring element or kernel which decides the nature of operation. Four basic morphological operators are Erosion, Dilation, Opening, and Closing.</p>  

            </div>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="heading-wrapper">
                <h3>Team Member</h3>
                <a> </a>
                <p>Hu Qianjiang</p>
            </div>
            <div class="row topmargin-lg">
                <div class="col-md-4">
                    <small>© 数字图像处理 2021</small>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer -->

</body>

</html>